@page
@model ProyectoCiclo3.App.Frontend.Pages.EditServicioModel
@{
    var servicio = Model.Servicio;
}

  <div class="text-center">
    <form method="post">
      @* <label for="id" class="form-label">Id:</label> *@
      <input type="number" class="form-control d-none" id="id" placeholder="Id" name="@servicio.id">

      <label for="origen" class="form-label">Origen:</label>

      <select name="@servicio.origen" class="form-control">
        <option value="">-</option>
        @foreach (var usuario in Model.Usuarios)
        {
        <option value="@usuario.id">@usuario.nombre @usuario.apellidos - @usuario.ciudad</option>
        }
      </select>

      @* <input type="text" class="form-control" id="origen" placeholder="Origen" name="origen"> *@

      <label for="destino" class="form-label">Destino:</label>

      <select name="@servicio.destino" class="form-control">
        <option value="">-</option>
        @foreach (var usuario in Model.Usuarios)
        {
          <option value="@usuario.id">@usuario.nombre @usuario.apellidos - @usuario.ciudad</option>
        }
      </select>

      @* <input type="text" class="form-control" id="destino" placeholder="Destino" name="destino"> *@

      <label for="fecha" class="form-label">Fecha:</label>
      <input type="date" class="form-control" id="fecha" placeholder="Fecha" name="@servicio.fecha">

      <label for="hora" class="form-label">Hora:</label>
      <input type="time" class="form-control" id="hora" placeholder="Hora" name="@servicio.hora">
      
      <label for="encomienda" class="form-label">Encomienda:</label>

      <select name="@servicio.encomienda" class="form-control">
        <option value="">-</option>
        @foreach (var encomienda in Model.Encomiendas)
        {
          <option value="@encomienda.id">@encomienda.descripcion</option>
        }
      </select>

      @* <input type="number" class="form-control" id="encomienda" placeholder="Encomienda" name="@servicio.encomienda"> *@
      <hr>
<button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>