@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}
 
<h1>Listado de Servicios</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Encomienda</th>
    </tr>
  </thead>
    @foreach (var servicio in Model.Servicio)
    {
        <tr>
            <td>@servicio.id</td>
            <td>@servicio.origen.nombre @servicio.origen.apellidos</td>
            <td>@servicio.destino.nombre @servicio.destino.apellidos</td>
            <td>@servicio.fecha</td>
            <td>@servicio.hora</td>
            <td>@servicio.encomienda.descripcion</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.id">Editar</a>
              <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@servicio.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>