@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}
 
<h1>Listado de Servicios</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Encomienda</th>
    </tr>
  </thead>
    @foreach (var servicio in Model.Servicio)
    {
        <tr>
            <td>@servicio.id</td>
            <td>@servicio.origen</td>
            <td>@servicio.destino</td>
            <td>@servicio.fecha</td>
            <td>@servicio.hora</td>
            <td>@servicio.encomienda</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-servicio="@servicio.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-servicio="@servicio.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>