@page
@model ProyectoCiclo3.App.Frontend.Pages.EditUsuarioModel
@{
    var usuario = Model.Usuario;
}

  <div class="text-center">
    <form method="post">
      <input type="number" class="form-control d-none" id="id" name="id" placeholder="Id" asp-for="@usuario.id">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" asp-for="@usuario.nombre">
      <label for="apellidos" class="form-label">Apellidos:</label>
      <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" asp-for="@usuario.apellidos">
      <label for="direccion" class="form-label">Dirección:</label>
      <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion" asp-for="@usuario.direccion">
      <label for="telefono" class="form-label">Telefono:</label>
      <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" asp-for="@usuario.telefono">
      <label for="ciudad" class="form-label">Ciudad:</label>
      <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" asp-for="@usuario.ciudad">
      <hr>
<button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>

