@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<h1>Listado de Usuarios</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Ciudad</th>
    </tr>
  </thead>
    @foreach (var usuario in Model.Usuario)
    {
        <tr>
            <td>@usuario.nombre</td>
            <td>@usuario.apellidos</td>
            <td>@usuario.direccion</td>
            <td>@usuario.telefono</td>
            <td>@usuario.ciudad</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-usuarioId="@usuario.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-usuarioId="@usuario.id">Editar</a>
              <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@usuario.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>